# pytorch
http://download.pytorch.org/whl/cu80/torch-0.2.0.post3-cp35-cp35m-manylinux1_x86_64.whl 
torchvision

# tensorflow
tensorflow-gpu
prettytensor

# data
scipy
scikit-learn
scikit-image
numpy
pillow

# utils
pdbpp
colorama
requests
tqdm
lmdb
ipython
visdom
